<!DOCTYPE html>
<html>

<head>
  <title>Behavioral Logging</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="static/bootstrap.min.css" rel="stylesheet" media="screen">
</head>

<body>
	<link rel="stylesheet" href="/static/style.css" type="text/css">

	<form action="/adduser" method="POST">
		<div class="login">
			<div class="login-screen">
				<table>
					<tr>
						<td>
							<div class="app-title">
								<h4>Create New User</h4>
							</div>
						</td>
						<td>
							<div class="add-user-title">
								<h6>
									<a href='/login'>Login</a>
								</h6>
							</div>
						</td>
					</tr>
	  			</table>
	 
				<div class="login-form">
					<div class="control-group">
					<input type="text" class="login-field" value="" placeholder="New User" name="username">
					<label class="login-field-icon fui-user" for="login-name"></label>
					</div>
	
					<div class="control-group">
					<input type="password" class="login-field" value="" placeholder="Create password" name="password">
					<label class="login-field-icon fui-lock" for="login-pass"></label>
					</div>
	 
	            	<input type="submit" value="Create User" class="btn btn-primary btn-large btn-block" >
					<br>

					<!-- errors -->
					{% if info %}
						<p class="error"><strong>{{ info }}</strong></p>
					{% endif %}
				</div>
			</div>
		</div>
	</form>

	

</body>
</html>