{% extends "base.html" %}
{% block content %}
	<link rel="stylesheet" href="static/normalize.css">
	<link rel="shortcut icon" href="">
	
	<style>
		input[type=radio] {
		    border: 0px;
		    width: 10%;
		    height: 1em;
		}
	</style>

	<p>
		--> StackOverflow link - 
		<a href="https://stackoverflow.com/questions/tagged/java?sort=frequent&pageSize=15">stackoverflow tag=java</a>
	</p>
	

	<table class="table">
		<tr>
			<td>
				<h5><i>Hello <strong>{{ userId }}</strong>, below is the visualization of your activity recently</i></h5>
			</td>
			<td>
				<a href="/adduser">Add User</a>
			</td>
			<td>
				<a href="/logout">Logout</a>
			</td>
		</tr>
	</table>
	<br>
	<div class='container'>
		<!-- <h1>Relative frequency of tags among questions asked by <b>{{ userId }}</b></h1> -->
		<table class="table">
			<thead>
				<tr>
					<th>
						<h4><b>Topics that the user is interested to learn</b></h4>
					</th>
					<th>
						<h4><b>Topics in which the user is proficient in</b></h4>
					</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>
						<div id="chart"> </div>
					</td>
					<td>
						<div id="chart2"> </div>
					</td>
				</tr>
				<tr>
					<td>
						<p>This chart illustrates the user's <b>asked questions</b> grouped by their<br>
							topic. This gives us the insight about the user's learnings. If the  <br>
							user looks for <i>Java</i> questions, we can infer that the user is <br>
							interested in that topic and thus recommened topics based on this data
						</p>
					</td>
					<td>
						<p>This chart illustrates the user's <b>answered questions</b> grouped by their<br>
							topic. This gives us the insight about the user's skills. If the user<br>
							posts answers related to <i>C#</i>, we can infer that he is skilled in that<br>
							area and recommend the unanswered questions to him for answering.
						</p>
					</td>
				</tr>
				<tr>
					<div>
						<p><b>Note:</b> Below are the three interactions implemented in this webpage<br>
						1) <b><i>MouseHover</i></b>: Implemented tooltip to display the chart by hovering on the chart<br>
						2) <b><i>Adjusting Scales</i></b>: In the pie chart, you can remove unwanted topics by clicking on the legend provided at the center of the circle. This feature helps in understanding of relative topic dominance<br>
						3) <b><i>Radio buttons</i></b>: Implemented radio buttons to display the action count results individually<br>
						</p>
					</div>
				</tr>
			</tbody>

		</table>
		
		<br><br>
	</div>

	<div class="container">
			
			<h3><b><u>Social visualization of user's actions</u></b></h3>
			<form>
				<input type="radio" name="dataset" id="dataset" value="Visits" checked onclick="change(this.value)"/> <label for="dataset">Visits</label><br>
			    <input type="radio" name="dataset" id="dataset" value="UpVotes" onclick="change(this.value)"/><label for="dataset">UpVotes</label>
			    <br>
			    <input type="radio" name="dataset" id="dataset" value="DownVotes" onclick="change(this.value)"/><label for="dataset">DownVotes</label>
			    <br>
			</form>
			<div id="barchart"> </div>
			<p>This chart illustrates the percentage of actions done by the user among all user action count in the last two months on weekly basis.<br> From this chart we an infer two things: <br>
				1) How active is the user among his peers <br>
				2) His most common actions on the website from which we can infer his level of interest <br>
			</p>
			<br>
			<br>
			<p><b><i>Analysis and Findings:</i></b><br>
				From the pie charts and bar graphs of all the users, we can infer that <br>
				1) User "aaa" is <b>proficient in d3.js, interested in learning JavaScript</b> and was more active during 09/07 to 09/14 week than at present<br>
				2) User "bbb" is <b>proficient in C# and is interested in learning d3.js and JavaScript.</b> He is more active in this week (09/21 to 09/28) than any other weeks as his actions add up to more than 50% of all actions<br>
				3) User "ccc" is <b>proficient in d3.js and eager to learn JavaScript, C#</b>. Also, he is pretty much consistent over weeks<br>
				4) From the above observations, we can infer that if we <b>pair users "bbb" and "ccc"</b> over d3.js, it will be mutually benificial to both of them as one is proficient in it and the other is showing interest in learning the same.<br><br>
				Similarly, observing these trends helps us in finding ideal partners among users and pair up for their mutual benifits<br>
			</p> 
	</div>
		

</div>
	<script src={{ url_for('static', filename='jquery-3.2.1.min.js') }}></script>
	<script src={{ url_for('static', filename='d3.min.js') }}></script>
	<script src={{ url_for('static', filename='index.js') }}></script>
	<script src="static/d3.min.js"></script>

{% endblock %}

<!--<p><u>Following actions are tracked in the current application.</u><br>
	1) <i>Visited</i> - Tracks all the user visited question pages. This gives us the idea on the type of questions user interested in. From the votes, number of answers of the visited question gives us the insight into the taste of user<br>
	2) <i>Upvoted/ Downvoted</i> - Can also be used for user's reading preferences on length of material, language and complexity level. Since this is explicit, chances of data being high accuracy<br>
	3) <i>Shared</i> - User's high interest areas/ topics can be discovered by his sharing history<br>
	4) <i>Asked Question</i> - Helps to find the "current focus area" of the user and also the area in which he hopes to improve<br>
	5) <i>Posted Answer</i> - Can be used to find out the level of expertise of user on different topics based on his answer
	s popularity<br>
	</p>
	<table>
		<tr>
			<td>
				<h5><i>Hello <strong>{{ userId }}</strong>, below is your activity recently</i></h5>
			</td>
			<td>
				<a href="/adduser">Add User</a>
			</td>
			<td>
				<a href="/logout">Logout</a>
			</td>
		</tr>
	</table>
	
	<br>
	<div>
		{% for post in posts %}
			{{ post }}
			<br>
		{% endfor %}
	</div>
	
	
	-->
