{% extends "base.html" %}
{% block content %}
	<link rel="stylesheet" href="static/normalize.css">
	<link rel="shortcut icon" href="">
	
	<p>
		--> StackOverflow link - 
		<a href="https://stackoverflow.com/questions/tagged/java?sort=frequent&pageSize=15">stackoverflow tag=java</a>
	</p>
	

	<table>
		<tr>
			<td>
				<h5><i>Hello <strong>{{ userId }}</strong>, below is your activity recently</i></h5>
			</td>
			<td>
				<a href="/adduser">Add User</a>
			</td>
			<td>
				<a href="/logout">Logout</a>
			</td>
		</tr>
	</table>
	<br>
	<div class='container'>
		<h1>Relative frequency of tags among questions asked by <b>{{ userId }}</b></h1>
		<table>
			<tr>
				<td>
					<div id="chart"> </div>
				</td>
				<td></td>
				<td>
					<div id="chart2"> </div>
					
				</td>
			</tr>
			<tr>
				<p> Description of the chart</p>
			</tr>
		</table>
		
		<br><br>
		
		<div>
			<form>
			    <label><input type="radio" name="dataset" id="dataset" value="Visits" checked> Visits</label><br>
			    <label><input type="radio" name="dataset" id="dataset" value="UpVotes"> UpVotes</label><br>
			    <label><input type="radio" name="dataset" id="dataset" value="DownVotes"> DownVotes</label><br>
			</form>
			<div id="barchart"> </div>
		</div>
		

</div>
	
	<!-- <h1>Your visited count</h1> -->
	<div id="barChartDiv" class='container'>
		
	</div>
	<!-- <h1>Open User Chart</h1> -->

	<script src={{ url_for('static', filename='jquery-3.2.1.min.js') }}></script>
	<script src={{ url_for('static', filename='d3.min.js') }}></script>
	<script src={{ url_for('static', filename='index.js') }}></script>
	<script src="static/d3.min.js"></script>

{% endblock %}

<!--<p><u>Following actions are tracked in the current application.</u><br>
	1) <i>Visited</i> - Tracks all the user visited question pages. This gives us the idea on the type of questions user interested in. From the votes, number of answers of the visited question gives us the insight into the taste of user<br>
	2) <i>Upvoted/ Downvoted</i> - Can also be used for user's reading preferences on length of material, language and complexity level. Since this is explicit, chances of data being high accuracy<br>
	3) <i>Shared</i> - User's high interest areas/ topics can be discovered by his sharing history<br>
	4) <i>Asked Question</i> - Helps to find the "current focus area" of the user and also the area in which he hopes to improve<br>
	5) <i>Posted Answer</i> - Can be used to find out the level of expertise of user on different topics based on his answer
	s popularity<br>
	</p>
	<table>
		<tr>
			<td>
				<h5><i>Hello <strong>{{ userId }}</strong>, below is your activity recently</i></h5>
			</td>
			<td>
				<a href="/adduser">Add User</a>
			</td>
			<td>
				<a href="/logout">Logout</a>
			</td>
		</tr>
	</table>
	
	<br>
	<div>
		{% for post in posts %}
			{{ post }}
			<br>
		{% endfor %}
	</div>
	
	
	-->
